*,
*::before,
*::after {
  padding: 0;
  margin: 0;
  bottom: 0;
  box-sizing: border-box;
}

a {
  text-decoration: none;
  color: inherit;
}

ul,
ol,
li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: inherit;
  font-size: inherit;
}

html,
body {
  height: 100%;
}

body {
  line-height: 1;
  font-family: Montserrat, sans-serif;
  font-size: 14px;
  color: #252B42;
  font-weight: 500;
}

[class*=__container] {
  max-width: 1080px;
  margin: 0 auto;
  padding: 0 15px;
}

.wrapper {
  min-height: 100%;
  overflow: hidden;
}

.ibg {
  position: relative;
}

.ibg img {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.page {
  flex: 1 1 auto;
}

.wrapper {
  display: flex;
  flex-direction: column;
}

.header {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 50;
  height: 104px;
}
.header__container {
  min-height: 104px;
  display: flex;
  align-items: center;
}
.header__logo {
  font-weight: 700;
  font-size: 24px;
  color: inherit;
}
.header__menu {
  margin-left: 135px;
}

.menu__list {
  display: flex;
  gap: 0 21px;
  flex-wrap: wrap;
  padding: 10px 0;
}
.menu__link {
  color: #737373;
  line-height: 170%;
  font-weight: 600;
}
.menu__link:hover {
  text-decoration: underline;
}

.main-block {
  position: relative;
}
.main-block__body {
  padding: 184px 0 191px;
  position: relative;
  z-index: 2;
  max-width: 400px;
}
.main-block__body > *:not(:last-child) {
  margin-bottom: 35px;
}
.main-block__title {
  font-weight: 800;
  font-size: 58px;
  line-height: 1.38;
  letter-spacing: 0.2px;
  color: #252B42;
}
.main-block__text {
  font-size: 20px;
  line-height: 1.5;
  color: #737373;
}
.main-block__bottons {
  display: flex;
  gap: 10px;
}
.main-block__botton {
  background: #FF7B47;
  border-radius: 37px;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  min-height: 48px;
  padding: 0 36px;
  font-weight: 700;
  line-height: 150%;
  min-width: 184px;
  color: #fff;
  cursor: pointer;
}
.main-block__botton--border {
  background-color: #ffffff;
  color: #0D5C63;
  border: 1px solid #0D5C63;
}
.main-block__image {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
}

.page {
  background: #FAFAFA;
}
.page__servises {
  margin: -111px 0 0;
}

.servises__body {
  margin: 0 -15px -30px;
  display: flex;
  position: relative;
  z-index: 10;
  flex-wrap: wrap;
}
.servises__column {
  flex: 0 1 33.333%;
  padding: 0 15px;
  margin-bottom: 30px;
}
.servises__item {
  background-color: #fff;
  box-shadow: 0px 13px 19px rgba(0, 0, 0, 0.07);
  padding: 35px;
  cursor: pointer;
}
.servises__item > * {
  max-width: 230px;
}

.item-servise > *:not(:last-child) {
  margin-bottom: 10px;
}
.item-servise.active {
  background: #0D5C63;
  color: #fff;
  transition: all 0.3s;
}
.item-servise.active .item-servise__text,
.item-servise.active .item-servise__title {
  color: #fff;
}
.item-servise__title {
  min-height: 65px;
  font-weight: 700;
  font-size: 24px;
  line-height: 133.3333333333%;
  transition: all 0.3s;
}
.item-servise__text {
  color: #737373;
  line-height: 150%;
  transition: all 0.3s;
}

.achievements {
  padding: 80px 0;
}
.achievements__header {
  margin-bottom: 80px;
}
.achievements__body {
  margin: 0 -15px -15px;
  display: flex;
  flex-wrap: wrap;
}
.achievements__column {
  flex: 0 1 25%;
  padding: 0 15px 15px;
}
.achievements__item {
  min-width: 240px;
  height: 100%;
  padding: 30px;
  background-color: #fff;
  text-align: center;
}
.achievements__item > *:not(:last-child) {
  margin-bottom: 10px;
}
.achievements__value {
  font-weight: 700;
  font-size: 40px;
}
.achievements__text {
  font-weight: 700;
  font-size: 16px;
  line-height: 150%;
  color: #737373;
}

.header-block {
  text-align: center;
}
.header-block__title {
  font-weight: 700;
  font-size: 40px;
  line-height: 125%;
}
.header-block__title:not(:last-child) {
  margin-bottom: 10px;
}
.header-block__sub-title {
  font-size: 14px;
  line-height: 142.8571428571%;
  color: #737373;
}

.page__advice {
  padding: 80px 0 80px;
}

.advice__header {
  padding: 80px 0 80px;
}
.advice__body {
  display: flex;
  flex-wrap: wrap;
  margin: 0 -20px -20px;
}
.advice__column {
  padding: 0 20px 20px;
  flex: 0 2 25%;
}
.advice__item {
  background-color: #fff;
}

.item-advice {
  display: flex;
  flex-direction: column;
  height: 100%;
}
.item-advice__content {
  padding: 30px;
  flex: 1 1 auto;
}
.item-advice__link {
  display: inline-block;
  margin-bottom: 15px;
}
.item-advice__link:hover {
  text-decoration: underline;
}
.item-advice__title {
  font-weight: 700;
  font-size: 16px;
  line-height: 150%;
}
.item-advice__text {
  color: #737373;
  line-height: 142.8571428571%;
}
.item-advice__img {
  display: block;
  padding: 0 0 60% 0;
}

.page__whoweare {
  padding: 100px 0 136px;
  background-color: #fff;
}

.whoweare__header {
  margin-bottom: 100px;
}
.whoweare__body {
  display: flex;
  justify-content: space-between;
}
.whoweare__video {
  flex: 0 0 57.1428571429%;
  padding-bottom: 42.0952380952%;
  position: relative;
  align-self: flex-start;
}
.whoweare__video iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
.whoweare__content {
  margin-left: 100px;
  flex: 1 1 auto;
}
.whoweare__title {
  font-weight: 700;
  font-size: 40px;
  line-height: 142.5%;
  padding: 20px 0 10px;
}
.whoweare__text {
  line-height: 142.8571428571%;
  color: #737373;
  margin-bottom: 50px;
}
.item-whoweare {
  display: flex;
}
.item-whoweare:not(:last-child) {
  margin-bottom: 30px;
}
.item-whoweare__icon {
  padding-right: 20px;
}
.item-whoweare__title {
  font-weight: 700;
  font-size: 16px;
  line-height: 150%;
  margin-bottom: 5px;
}
.item-whoweare__text {
  line-height: 171.4285714286%;
  font-weight: 600;
  color: #737373;
}

.clients {
  padding: 50px 0;
}
.clients__items {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  align-items: center;
  text-align: center;
  margin-bottom: -20px;
}
.clients__item {
  min-width: 110px;
  padding: 0 10px 20px;
}
.clients__item img {
  max-width: 100%;
}

.page__subscribe {
  position: relative;
  padding: 20px 0;
}
.page__subscribe::before {
  z-index: 1;
  content: "";
  position: absolute;
  background: #252B42;
  width: 100%;
  height: 77px;
  left: 0;
  bottom: 0;
}

.subscribe__body {
  position: relative;
  z-index: 10;
  padding: 15px 20px;
  background: #17213C;
  border-radius: 2px;
}
.subscribe__title {
  max-width: 266px;
  font-weight: 700;
  font-size: 24px;
  line-height: 133.3333333333%;
  color: #fff;
}
.subscribe__form {
  font-weight: 400;
  display: flex;
}
.subscribe__email {
  width: 100%;
  flex: 1 1 auto;
  padding-left: 10px;
  background: #F9F9F9;
  border: 1px solid #E6E6E6;
  border-radius: 5px 0 0 5px;
  color: #737373;
}
.subscribe__email:focus {
  color: rgb(255, 0, 0);
}
.subscribe__button {
  background: #FF7B47;
  border: 1px solid #E6E6E6;
  border-radius: 0px 5px 5px 0px;
  color: #fff;
  padding: 15px 22px;
}

.getintouch {
  padding: 80px 0 150px;
}
.getintouch__header {
  margin-bottom: 110px;
}
.getintouch__item {
  padding: 50px 40px;
}

.item-getintouch {
  background-color: #fff;
  display: flex;
  flex-direction: column;
  text-align: center;
  transition: background-color 0.3s, color 0.3s;
}
.item-getintouch.item-getintouch__active {
  padding: 80px 40px 80px;
  background: #252B42;
  color: #fff;
}
.item-getintouch.item-getintouch__active .item-getintouch__icon {
  transform: scale(1.2);
}
.item-getintouch.item-getintouch__active .item-getintouch__button {
  background-color: #FF7B47;
  border: 1px solid #fff;
  color: #fff;
}
.item-getintouch > *:not(:last-child) {
  margin-bottom: 15px;
}
.item-getintouch__icon {
  min-height: 73px;
  transition: all 0.3s;
}
.item-getintouch__imails {
  font-weight: 600;
  line-height: 171.4285714286%;
  flex: 1 1 auto;
}
.item-getintouch__label {
  font-weight: 700;
  font-size: 16px;
  line-height: 150%;
}
.item-getintouch__button {
  display: block;
  padding: 10px 20px;
  min-width: 160px;
  border: 1px solid #FF7B47;
  border-radius: 5px;
  font-weight: 600;
  line-height: 171.4285714286%;
  color: #FF7B47;
  transition: all 0.3s;
}

.contact {
  padding: 40px 0;
  background-color: #fff;
}
.contact__content {
  padding-right: 20px;
}
.contact__title {
  font-weight: 700;
  font-size: 24px;
  line-height: 133.3333333333%;
  margin-bottom: 10px;
}
.contact__text {
  color: #737373;
}
.contact__button {
  display: inline-block;
  padding: 15px 40px;
  background: #FF7B47;
  border-radius: 5px;
  line-height: 1;
  font-weight: 700;
  color: #fff;
  transition: all 0.3s;
}
.contact__button:hover {
  background: #f85e21;
}

.footer__top {
  padding: 50px 0;
  background-color: #17213C;
  color: #fff;
}
.footer__row {
  display: flex;
  margin-bottom: -20px;
  justify-content: space-evenly;
}
.footer__column {
  padding-right: 20px;
  min-width: 170px;
  flex: 0 0 16.666%;
  padding-bottom: 20px;
}
.footer__column:last-child {
  flex: 0 0 33.333%;
  min-width: 290px;
}
.footer__label {
  font-weight: 700;
  font-size: 16px;
  line-height: 150%;
  margin-bottom: 20px;
}
.footer__menu {
  font-weight: 600;
  font-size: 14px;
  line-height: 171.4285714286%;
}
.menu-footer__item:not(:last-child) {
  margin-bottom: 10px;
}
.menu-footer__link:hover {
  text-decoration: underline;
}

.contacts-footer__item {
  display: inline-flex;
  align-items: center;
  padding-left: 30px;
  min-height: 30px;
  line-height: 1.4;
}
.contacts-footer__item:not(:last-child) {
  margin-bottom: 12px;
}
.contacts-footer__item:hover {
  text-decoration: underline;
}
.contacts-footer__tel {
  background: url("/images/footer/footer-1.svg") left no-repeat;
}
.contacts-footer__map {
  background: url("/images/footer/footer-2.svg") left no-repeat;
}
.contacts-footer__mail {
  background: url("/images/footer/footer-3.svg") left no-repeat;
}

.footer__bottom {
  padding: 25px 0;
}
.footer__box {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.footer__copy {
  font-weight: 600;
  line-height: 171.4285714286%;
  letter-spacing: 0.2px;
  color: #737373;
  margin-bottom: 20px;
}
.social {
  display: flex;
  align-items: center;
}
.social__link {
  margin-right: 20px;
}
@media (max-width: 992px) {
  .header__menu {
    margin-left: 100px;
  }
}
@media (max-width: 767px) {
  .header__menu {
    margin-left: 60px;
  }
}
@media (max-width: 479px) {
  .header__container {
    min-height: 70px;
  }
  .header__menu {
    margin-left: 30px;
  }
  .menu__link {
    font-size: 18px;
  }
}
@media (max-width: 1300px) {
  .main-block__image img {
    -o-object-position: right;
       object-position: right;
  }
}
@media (max-width: 992px) {
  .main-block__body {
    padding: 104px 0 191px;
  }
  .main-block__image img {
    opacity: 0.5;
  }
}
@media (max-width: 479px) {
  .main-block__body {
    padding-bottom: 171px;
  }
  .main-block__body > *:not(:last-child) {
    margin-bottom: 20px;
  }
  .main-block__title {
    font-size: 42px;
    line-height: 1.2;
  }
  .main-block__text {
    color: #3b3b3b;
  }
  .main-block__bottons {
    flex-wrap: wrap;
  }
  .main-block__botton {
    min-width: 290px;
  }
}
@media (max-width: 992px) {
  .servises__column {
    flex: 0 1 50%;
  }
  .servises__column:last-child {
    flex: 0 1 100%;
  }
  .servises__item {
    height: 100%;
  }
  .servises__item > * {
    max-width: 100%;
  }
  .item-servise__title {
    min-height: auto;
  }
}
@media (max-width: 650px) {
  .servises__column {
    flex: 0 100%;
  }
}
@media (max-width: 479px) {
  .servises__item {
    padding: 20px;
  }
}
@media (max-width: 1080px) {
  .page__achievements {
    padding: 80px 0 40px;
  }
  .achievements__column {
    flex: 0 1 50%;
  }
}
@media (max-width: 650px) {
  .achievements {
    padding: 50px 0;
  }
  .achievements__header {
    margin-bottom: 50px;
  }
  .achievements__column {
    flex: 0 1 100%;
  }
}
@media (max-width: 1080px) {
  .page__advice {
    padding: 40px 0 40px;
  }
  .advice__column {
    flex: 0 1 50%;
  }
}
@media (max-width: 580px) {
  .page__advice {
    padding: 20px 0 40px;
  }
  .advice__header {
    padding: 20px 0 40px;
  }
  .advice__column {
    flex: 0 1 100%;
  }
  .item-advice {
    text-align: center;
  }
  .item-advice__content {
    padding: 15px;
  }
}
@media (max-width: 1080px) {
  .page__whoweare {
    padding: 70px 0 80px;
  }
  .whoweare__header {
    margin-bottom: 50px;
  }
  .whoweare__body {
    flex-wrap: wrap;
  }
  .whoweare__video {
    flex: 0 1 100%;
    padding-bottom: 56.25%;
  }
  .whoweare__content {
    margin-left: 0px;
    order: -1;
  }
  .whoweare__title {
    text-align: center;
  }
  .whoweare__text {
    text-align: center;
  }
  .whoweare__items {
    margin-bottom: 30px;
    display: flex;
  }
  .whoweare__items > *:not(:last-child) {
    margin-right: 20px;
  }
  .whoweare__item {
    justify-content: center;
  }
  .item-whoweare {
    flex: 1 1 auto;
  }
  .item-whoweare:not(:last-child) {
    margin-bottom: 0px;
  }
}
@media (max-width: 650px) {
  .page__whoweare {
    padding: 60px 0 40px;
  }
  .whoweare__items {
    display: block;
  }
  .whoweare__items > *:not(:last-child) {
    margin-right: 0px;
  }
  .whoweare__item {
    justify-content: stretch;
  }
  .item-whoweare:not(:last-child) {
    margin-bottom: 20px;
  }
}
@media (max-width: 767px) {
  .clients__items {
    justify-content: center;
  }
}
@media (max-width: 992px) {
  .subscribe__body {
    margin: 0;
  }
}
@media (max-width: 767px) {
  .subscribe__body {
    margin: 0px -15px;
  }
  .subscribe__title {
    max-width: 100%;
    margin-bottom: 30px;
  }
}
@media (min-width: 767px) {
  .subscribe__body {
    margin: 0px 32px;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  .subscribe__form {
    flex: 0 1 50%;
  }
}
@media (min-width: 580px) {
  .subscribe__body {
    padding: 30px 40px;
  }
  .subscribe__email {
    padding-left: 20px;
  }
}
@media (max-width: 992px) {
  .page__getintouch {
    padding: 70px 0 70px;
  }
  .getintouch__header {
    margin-bottom: 50px;
  }
  .getintouch__item {
    padding: 30px 20px;
  }
  .item-getintouch.item-getintouch__active {
    padding: 40px 20px;
  }
}
@media (min-width: 800px) {
  .getintouch__items {
    display: flex;
    align-items: center;
  }
  .getintouch__item {
    flex: 0 1 33.333%;
  }
}
@media (max-width: 800px) {
  .getintouch {
    padding: 70px 0 50px;
  }
  .getintouch__items {
    margin: 0 -15px;
  }
  .item-getintouch {
    align-items: center;
  }
  .item-getintouch.item-getintouch__active {
    padding: 30px 20px;
  }
  .item-getintouch__imails {
    display: flex;
    flex-direction: column;
  }
}
@media (max-width: 479px) {
  .contact__content {
    margin-bottom: 30px;
  }
}
@media (min-width: 479px) {
  .contact__body {
    display: flex;
    justify-content: space-between;
  }
  .contact__button {
    flex: 0 0 auto;
    align-self: flex-start;
  }
}
@media (max-width: 992px) {
  .footer__row {
    flex-wrap: wrap;
  }
}
@media (min-width: 767px) {
  .footer__box {
    justify-content: space-between;
    flex-direction: row;
    align-items: center;
  }
  .footer__copy {
    margin-bottom: 0px;
  }
}