//?--------------------------------------------- header -- media ------------------------------------------------
.header {
  &__container {}
  &__logo {}
  &__menu {}
}
.menu {
  &__list {}
  &__item {}
  &__link {}
}
//992
//!------------------------  media -- 992px  ------------------------
@media (max-width: 992px) {
  .header {
    &__container {}
    &__logo {
      // align-items: start;
      // text-align: start;
      // align-self: start;
      // margin-top: 40px;
    }
    &__menu {
      margin-left: 100px;
    }
  }
  .menu {
    &__list {}
    &__item {}
    &__link {}
  }
}
//!------------------------  media -- 767px  ------------------------
@media (max-width: 767px) {
  .header {
    &__container {}
    &__logo {}
    &__menu {
      margin-left: 60px;
    }
  }
  .menu {
    &__list {}
    &__item {}
    &__link {}
  }
}
//!------------------------  media -- 479px  ------------------------
@media (max-width: 479px) {
  .header {
    &__container {
      min-height: 70px;
    }
    &__logo {}
    &__menu {
      margin-left: 30px;
    }
  }
  .menu {
    &__list {}
    &__item {}
    &__link {
      font-size: 18px;
    }
  }
}
//?--------------------------------------------- header -- end --------------------------------------------------
//?----------------------------- main-block -- media ---------------------------
.page {
  &__main-block {}
}
.main-block {
  &__container {}
  &__body {}
  &__title {}
  &__text {}
  &__bottons {}
  &__botton {}
  &__botton--border {}
  &__image {}
}
//!------------------------  media -- 1300 px  ------------------------
@media (max-width: 1300px) {
  .page {
    &__main-block {}
  }
  .main-block {
    &__container {}
    &__body {}
    &__title {}
    &__text {}
    &__bottons {}
    &__botton {}
    &__botton--border {}
    &__image {}
    &__image img {
      object-position: right;
    }
  }
}
//!------------------------  media -- 992px  ------------------------
@media (max-width: 992px) {
  .page {
    &__main-block {}
  }
  .main-block {
    &__container {}
    &__body {
      padding: 104px 0 191px;
    }
    &__title {}
    &__text {}
    &__bottons {}
    &__botton {}
    &__botton--border {}
    &__image img {
      opacity: 0.5;
    }
  }
}
//!------------------------  media -- 479px  ------------------------
@media (max-width: 479px) {
  .page {
    &__main-block {}
  }
  .main-block {
    &__container {}
    &__body {
      padding-bottom: 171px;
      > *:not(:last-child) {
        margin-bottom: 20px;
      }
    }
    &__title {
      font-size: 42px;
      line-height: 1.2;
    }
    &__text {
      color: #3b3b3b;
    }
    &__bottons {
      // flex-direction: column;
      flex-wrap: wrap;
    }
    &__botton {
      min-width: 290px;
    }
    &__botton--border {}
    &__image {}
  }
}
//?----------------------------- main-block -- end -----------------------------
//?----------------------------- servises -- media ---------------------------
.page {
  &__servises {}
}
.servises {
  &__container {}
  &__body {}
  &__column {}
  &__item {}
}
.item-servise {
  &__icon {}
  &__title {}
  &__text {}
}
//!------------------------  media -- 992px  ------------------------
@media(max-width:992px) {
  .page {
    &__servises {}
  }
  .servises {
    &__container {}
    &__body {
      // flex-wrap: wrap;
    }
    &__column {
      // box-sizing: content-box;
      flex: 0 1 50%;
      // height: 100%;
      // height: 212px;
    }
    &__column:last-child {
      flex: 0 1 100%;
    }
    &__item {
      height: 100%;
      > * {
        max-width: 100%;
      }
    }
  }
  .item-servise {
    &__icon {}
    &__title {
      min-height: auto;
    }
    &__text {}
  }
}
//!------------------------  media -- 767px  ------------------------
@media(max-width:650px) {
  .page {
    &__servises {}
  }
  .servises {
    &__container {}
    &__body {}
    &__column {
      flex: 0 100%;
    }
    &__item {}
  }
  .item-servise {
    &__icon {}
    &__title {}
    &__text {}
  }
}
//!------------------------  media -- 479px  ------------------------
@media(max-width:479px) {
  .page {
    &__servises {}
  }
  .servises {
    &__container {}
    &__body {}
    &__column {}
    &__item {
      padding: 20px;
    }
  }
  .item-servise {
    &__icon {}
    &__title {}
    &__text {}
  }
}
//?----------------------------- servises -- end -----------------------------
//?----------------------------- achievements -- media ---------------------------
.page {
  &__achievements {}
}
.achievements {
  &__container {}
  &__header {}
  &__body {}
  &__column {}
  &__item {}
  &__icon {}
  &__value {}
  &__text {}
}
.header-block {
  &__title {}
  &__sub-title {}
}
//!------------------------  media -- 1080px  ------------------------
@media(max-width:1080px) {
  .page {
    &__achievements {}
  }
  .achievements {
    &__container {}
    &__header {}
    &__body {}
    &__column {
      flex: 0 1 50%;
    }
    &__item {}
    &__icon {}
    &__value {}
    &__text {}
  }
  .header-block {
    &__title {}
    &__sub-title {}
  }
}
//!------------------------  media -- 650px  ------------------------
@media(max-width:650px) {
  .page {
    &__achievements {}
  }
  .achievements {
    padding: 50px 0;
    &__container {}
    &__header {
      margin-bottom: 50px;
    }
    &__body {}
    &__column {
      flex: 0 1 100%;
    }
    &__item {}
    &__icon {}
    &__value {}
    &__text {}
  }
  .header-block {
    &__title {}
    &__sub-title {}
  }
}
//?----------------------------- achievements -- end -----------------------------
// 1080
// 992
// 767
// 650
// 479
// 320