@import "_reset.scss";
.wrapper {
  min-height: 100%;
  overflow: hidden;
}
.ibg img {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  object-fit: cover;
}
.page {
  flex: 1 1 auto;
}
//!----- header -----
//?--------------------------------------------- header ---------------------------------------------------------
.wrapper {
  display: flex;
  flex-direction: column;
}
.header {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 50;
  height: 104px;
  &__container {
    min-height: 104px;
    display: flex;
    align-items: center;
  }
  &__logo {
    font-weight: 700;
    font-size: 24px;
    color: inherit;
  }
  &__menu {
    margin-left: 135px;
  }
}
.menu {
  &__list {
    display: flex;
    gap: 0 21px;
    flex-wrap: wrap;
    padding: 10px 0;
    // align-items: center;
  }
  &__item {}
  &__link {
    color: #737373;
    line-height: 170%;
    font-weight: 600;
  }
}
//?--------------------------------------------- header -- end --------------------------------------------------
//!----- main-block -----
//?----------------------------- main-block ------------------------------------
.page {
  &__main-block {}
}
.main-block {
  position: relative;
  &__container {}
  &__body {
    padding: 184px 0 191px;
    position: relative;
    z-index: 2;
    max-width: 400px;
    > *:not(:last-child) {
      margin-bottom: 35px;
    }
  }
  &__title {
    font-weight: 800;
    font-size: 58px;
    line-height: 1.38;
    letter-spacing: 0.2px;
    color: #252B42;
  }
  &__text {
    font-size: 20px;
    line-height: calc(30px /20px);
    color: #737373;
  }
  &__bottons {
    display: flex;
    gap: 10px;
  }
  &__botton {
    background: #FF7B47;
    border-radius: 37px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    min-height: 48px;
    padding: 0 36px;
    font-weight: 700;
    line-height: calc(21 / 14 * 100%);
    // line-height: (21px/14px);
    min-width: 184px;
    color: #fff;
    cursor: pointer;
  }
  &__botton--border {
    background-color: #ffffff;
    color: #0D5C63;
    border: 1px solid #0D5C63;
  }
  &__image {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
  }
}
//?----------------------------- main-block -- end -----------------------------
//!----- servises -----
//?----------------------------- servises ------------------------------------
.page {
  &__servises {}
}
.servises {
  &__container {}
  &__body {
    margin-top: -121px;
    display: flex;
    gap: 30px;
    position: relative;
    z-index: 10;
  }
  &__column {
    flex: 0 1 33.333%;
    padding: 35px 0 35px 40px;
    background-color: #fff;
    box-shadow: 0px 13px 19px rgba(0, 0, 0, 0.07);
    // gap: 10px 0;
    &.active {
      background: #0D5C63;
      color: #fff;
      .item-servise__text {
        color: #fff;
      }
    }
  }
  &__items {}
}
.item-servise {
  > *:not(:last-child) {
    margin-bottom: 10px;
  }
  &__icon {}
  &__title {
    max-width: 230px;
    font-weight: 700;
    font-size: 24px;
    // line-height: 32px;
    line-height: calc(32 / 24 * 100%);
  }
  &__text {
    max-width: 230px;
    color: #737373;
    line-height: calc(20px / 14px * 100%);
  }
}
//?----------------------------- servises -- end -----------------------------
@import "_media.scss";